.community__section {
	width: 704px;
	margin: 0 auto;
	padding-bottom: 16px;
}

.community__section__float-btn {
	display: none;
	position: fixed;
	bottom: 24px;
	right: 16px;
	z-index: 1;
}

@media screen and (max-width: 972px) {
	.community__section {
		padding: 0 16px 130px 16px;
	}
}

@media screen and (max-width: 768px) {
	.community__section {
		width: 100%;
		background: #fff;
	}
	.community__section__float-btn {
		display: block;
	}
}
