.sidebar__container {
	width: 288px;
	display: block;
	min-height: 100%;
	background: #fff;
	flex-direction: column;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.sidebar__spacer {
	min-width: 288px;
	display: block;
	min-height: 100%;
	background: #fff;
}

.sidebar__container .sidebar__logo {
	height: 80px;
	width: 100%;
	padding: 24px 24px 23.84px 24px;
}

.sidebar__container .sidebar__logo img {
	height: 32.16px;
}

.sidebar__container .sidebar__links {
	padding: 44px 24px 44px 24px;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 1049px) {
	.sidebar__container,
	.sidebar__spacer {
		min-width: 25%;
		width: 25%;
	}
}

@media screen and (max-width: 972px) {
	.sidebar__container,
	.sidebar__spacer {
		display: none;
	}
}
