.ask__question__header {
	display: flex;
	margin-bottom: 50px;
	justify-content: space-between;
	margin-top: 38px;
}

.ask__question__title {
	display: flex;
	align-items: center;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #333333;
}

.ask__question {
	width: 576px;
	margin: 0 auto;
}

.ask__question__form-field {
	margin-bottom: 2rem;
}

.ask__question__form-button {
	display: flex;
	justify-content: flex-end;
}

.ask__question__cancel-btn-big .custom__btn {
	padding: 10px 24px;
	background: #ffffff;
	border: 3px solid #3843d0;
	box-sizing: border-box;
	box-shadow: 0px 2px 0px #3843d0;
	border-radius: 10px;
	color: #3843d0;
}

.ask__question__form-button .custom__btn {
	padding: 10px 24px;
}

.ask__question__cancel-btn-small {
	display: none;
}

@media screen and (max-width: 767px) {
	.ask__question {
		width: 100%;
		padding: 16px 16px 130px 16px;
	}

	.ask__question__header {
		margin-bottom: 56px;
	}

	.ask__question__cancel-btn-big {
		display: none;
	}

	.ask__question__cancel-btn-small {
		display: flex;
	}

	.ask__question__form-button .custom__btn {
		width: 100%;
	}
}
